<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="false"
  processIsolation="false"
  stopOnFailure="false"
  bootstrap="vendor/autoload.php"
  verbose="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>app/modules</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/report" lowUpperBound="35" highLowerBound="70"/>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="PePGen Test Suite">
      <file>tests/Command/ClearCommandTest.php</file>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
